.fullscreen-container {
  border: 1px solid #ccc;
  padding: 5px;
}

.fullscreen-container:fullscreen {
  border: 2px solid #000;
  padding: 10px;
}

.fullscreen-enabled {
  background: rgb(0, 0, 0);
}

.fullscreen-enabled .is-speaking {
  color: rgb(115, 252, 115);
}