.my-component {
  background: #fff;
}

.fullscreen-enabled .my-component {
  background: #000;
}

 

.button-container {
  display: flex;
  flex-direction: column;
}

.button {
  width: 100%;
  flex: 1;
  background-color: #8f749a;
}

 

 
.speaking {
  color: green;
}

.is-rtl {
  direction: rtl;
  text-align: right;
} 

.container {
  padding: 11px;
  margin: 11px;
  background: rgb(80, 80, 80);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.transcript {
  font-size: calc(4vw - 10px);
  direction: ltr;
  text-align: left;
  color: purple;
  overflow: auto;
  max-height: 40vh;

}

.final-transcript,
.translation {
  font-size: calc(20vw - 40px);
  direction: ltr;
  text-align: left;
  color: black;
  overflow: auto;
  max-height: 40vh;

}